@charset "utf-8";
/* CSS Document */

#aside-image {height: 10px;}
.about-serviceCatgs-switch { display: none; }
.about-serviceCatgs-switch2  { display: none; }
.navList li:nth-of-type(3) a {color: #3e618f !important;}
.navList li:nth-of-type(3) a:hover { cursor: default;}
.nav-side li:nth-of-type(3) {box-shadow: inset 0px 0px 55px #313a58; }
.navList li:nth-of-type(3) { background-color: #1f304f;}
.nav-side li:nth-of-type(3) a { color: gray !important;}
.nav-side li:nth-of-type(3){ background:none;  
transition: background 0s linear !important; 
-web-kit-transition: background 0s linear !important;}
 .nav-side li:nth-of-type(3) a:hover { cursor: default; border: 1px solid rgba(255, 255, 255, 0); }
.nav-side li:nth-of-type(3) { cursor: default;}
.image-one, .image-two, .image-three { height: 150px;}
.serviceCatgs .image-one { background-image: url('../images/image-one-aboutUs.png');}
.serviceCatgs .image-two { background-image: url(' ../images/image-two-aboutUs.png');}
.serviceCatgs .image-three { background-image: url(' ../images/image-three-aboutUs.png');}
.serviceCatgs2 {float:right; width: 745px; position: relative; left: 41px;}
.image-one1, .image-two1, .image-three1 { float: left; width: 244px; height: 150px; 
display: inline; margin-left: .55%; }
.image-one1 { background-image: url('../images/image-one-aboutUs_1.png');}
.image-two1 { background-image: url(' ../images/image-two-aboutUs_2.png');}
.image-three1 { background-image: url('../images/image-three-aboutUs_3.png');}

div .serviceCatgs2 div.artCall {margin-left: 25px; width: 100%;}
			
/* media queries*/

@media only screen and (max-width:1024px){
.serviceCatgs { display: block !important; width: 100%; margin-left: 17px;}
.image-one,  .image-two, .image-three, .image-one1, .image-two1, .image-three1 { display: none !important;}
.about-serviceCatgs-switch, .about-serviceCatgs-switch2  {display: block; width: 100%; height: auto;}
.first-para { width: 100% !important;}
.articleDiv1, .introToLFC { width: 100% !important;}
.artCall, .introToLFC { display: block !important; width: 90%;}
.artCall ul { margin: 0px;}
.h2lfcTechIntro { margin-left: 10px; margin-bottom: 10px;}
.hRule { width: 100%; margin-left: 0px; }
.serviceCatgs2 { width: 100%; left: 0px;}
.serviceCatgs2 .artCall { margin-left:45px;}
.serviceCatgs2  .hRule { width: 100%; margin-left: -20px;}
.introToLFC .hRule:last-of-type { margin-bottom: 15px !important;}
.serviceCatgs2 { left: 19px;}
.nav-side li:nth-of-type(3){ background: url('../images/icon_list.png') no-repeat -30px;}  
div .serviceCatgs2 div.artCall {margin-left: 0px;}
}

@media only screen and (min-width:769px) and (max-width:866px){
.serviceCatgs { margin-left: 14px !important;}
.serviceCatgs2 .hRule { display: block !important; width: 98%;}
.serviceCatgs2 {left: 15px;}
.serviceCatgs2  .hRule { margin-left: -10px;}
}

@media only screen and (min-width:640px) and (max-width:768px){
.serviceCatgs { margin-left: 19px !important; }
.serviceCatgs2 {left: 21px;}
}

@media only screen and (min-width:551px) and (max-width:639px){
.serviceCatgs { margin-left: 16px !important; }
.serviceCatgs2 {left: 16px; margin-bottom: 15px !important;}
.serviceCatgs2 .artCall { margin-left:40px;}
}

@media only screen and (max-width:550px){
.h2lfcTechIntro {width: 93%;}
.hRule:nth-of-type(1) { display: block; }
.serviceCatgs2 .hRule {margin-left: 0px; width: 100%;}
.serviceCatgs { display:none !important; }
.about-serviceCatgs-switch, .about-serviceCatgs-switch2  {display: none !important;}
.serviceCatgs2 {left: 0px; margin-bottom: 15px !important;}
.serviceCatgs2 .artCall { box-sizing: border-box; width: 95%; padding-left:80px; margin-left: 0px;}
.serviceCatgs2 .artCall h3 {width: 95%;  margin-left: -30px;}
}

@media only screen and (max-width:320px){
.artCall { margin-left: 5%;}
.hRule { width: 100%; margin: 0 auto;}
h1.lfcTech { left: -4% !important;}
.lfc-number  {float: left !important;}
}

